<!-- <app-custom-validator></app-custom-validator>

<b></b>
<b></b>
<hr />

<div *ngIf="isAvailable">Show this div</div>

<ng-template [ngIf]="isAvailable">
  <div>Show this div</div>
</ng-template>

<button (click)="toggle()">toggle</button>


<div *appNgIf="_toggle"> Is it working appNgIf</div>

<app-practice-pipe></app-practice-pipe>
<app-rxjs></app-rxjs>


<button (click)="updateCount()">updateCount</button>


<app-login></app-login> -->

<!-- <app-profile></app-profile> -->


<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav flex-column nav-pills">
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/users">users</a></li>
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/categories">Category</a></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>