<div>
  <div>{{message | uppercase}}</div>
  <div>{{message | lowercase}}</div>
  <div>{{message | titlecase}}</div>
  <div>{{date | date}}</div>
  <div>{{date | date:'short'}}</div>
  <div>{{date | date:'shortDate'}}</div>
  <div>{{date | date:'shortTime'}}</div>
  <div>{{date | date:'medium'}}</div>
  <div>{{date | date:'mediumDate'}}</div>
  <div>{{date | date:'mediumTime'}}</div>
  <div>{{date | date:'long'}}</div>
  <div>{{date | date:'longDate'}}</div>
  <div>{{date | date:'longTime'}}</div>
  <div>{{person | json}}</div>
  <div>{{message | reverse}}</div>

</div>